@import 'tailwindcss';
@import '@nuxt/ui';
@import './base.css';
body {
  font-family: 'Inter', sans-serif;
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(0, 0%, 0%, 1);
  width: 80%;
  margin: auto;
}
#app {
  min-width: 900px;
  max-width: 1650px;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 100dvw;
  min-height: 100dvh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (max-width: 500px) {
  body {
    width: 100dvw;
    overflow-x: hidden;
    margin: auto;
  }
  #app {
    /* background-color: hsla(0, 0%, 95%, 1); */
    min-width: 300px;
    .repair-info {
      display: flex;
      flex-direction: column;
    }
    .repair-header {
      display: flex;
      flex-direction: column;
      width: calc(100dvw - 65px);
    }
    .repair-list {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: calc(100dvw - 65px);
    }
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
